@import '../../scss/variables';

.information {
  background-color: var(--color-purple);
  padding: 12rem 2rem 4rem 2rem;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

.logo {
  max-width: 100%;
  width: min(800px, 90vw);
  height: auto;
  object-fit: contain;
  margin-bottom: 3rem;
}

.contentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: max-content;
  padding: 2rem;
  background: radial-gradient(circle, rgba(149, 147, 217, 0.4) 0%, transparent 45%);  
  border-radius: 50%;
}

.leftColumn {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.bigIbai {
  max-width: 100%;
  width: min(250px, 30vw);
  height: auto;
  object-fit: contain;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.mainText {
  color: var(--color-white);
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
  line-height: 1.3;
}

.labelContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--color-yellow);
  color: black;
  max-width: 100%;
  width: min(350px, 90vw);
  border-radius: 20px;
  box-shadow: 0 4px black;
}

.newLabel {
  background-color: var(--color-yellow);
  color: var(--color-white);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: 0.7rem;
  padding-right: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.smallLabel {
  background-color: #f7c729 !important;
  color: var(--color-white);
  padding: 0.2rem 0.5rem;
  border-radius: 10px;
  font-size: 0.7rem;
  top: 4px !important;
}

.mainLabel {
  max-width: 500px;
  background-color: var(--color-purple-light);
  border-radius: 20px;
  padding: 1rem;
  font-weight: lighter !important;
  position: relative;
  box-shadow: 0 4px black;
  
  .mainText {
    font-size: 1.6rem;
    font-weight: normal;
  }

  &::before {
    content: '';
    position: absolute;
    left: -14px;
    top: 70%;
    transform: translateY(-45%);
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid var(--color-purple-light);
  }
}

.voteText {
  color: black;
  font-size: 1.2rem;
  font-weight: normal;
  margin: 0;
}

@media (max-width: 768px) {
  .information {
    padding: 5rem 1rem 4rem 1rem;
  }
  
  .logo {
    width: 400px;
  }
  
  .contentContainer {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }
  
  .leftColumn {
    align-items: center;
  }
  
  .bigIbai {
    width: 200px;
    height: 250px;
  }
  
  .mainText {
    font-size: 1.4rem;
  }
}