:root {
  --color-dark: #0f0f23;
  --color-yellow: #e4bc3c;
  --color-white: #ffffff;
  --color-gray: #666666;
  --color-light-gray: #f5f5f5;
  --color-black: #000000;
  --color-chocolate: #4E2217;
  
  --podium-square-bg: #60382E;
  --podium-border-width: 4px;
  --podium-border-radius: 4px;
  --podium-square-width: 190px;
  --podium-square-height: 100px;
  
  --image-size-first: 120px;
  --image-size-second: 100px;
  --image-size-third: 100px;
  --image-size-mobile: 60px;
  --image-size-mobile-first: 70px;


}
